@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
    --primary-color: #4daf54;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 70vh;
    background-image: linear-gradient(to right, #4daf54, #3d8880);
}
.card {
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background: #272d40;
    border-radius: 15px;
    padding: 20px;
    color: #fff;
    position: relative;
}
.card-heart,
.card-cart {
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
    cursor: pointer;
}
.card-cart {
    left: unset;
    right: 20px;
}
.card-img {
    width: 90%;
    transition: 0.5s;
}
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-title,
.card-price {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
}
.card-title {
    color: var(--primary-color);
}
.card-size,
.card-color {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.card-size span {
    padding: 2px 10px;
    background: #dadada;
    color: #272d40;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}
.card-color span {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.card-size h3,
.card-color h3 {
    margin-right: 12px;
}
span.color-green {
    background-color: green;
}

span.color-red {
    background: red;
}

span.color-black {
    background: #000;
}
.card-action button {
    background: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    /* margin: 0 5px; */
    margin-right: 7px;
    margin-top: 8px;
    font-weight: 600;
    cursor: pointer;
}
.card-action button:hover {
    transform: scale(0.9);
    transition: 0.5s;
}
.card:hover .card-img {
    transform: translateY(-90px) rotate(-20deg);
}

.card:hover .card-title {
    transform: translate(-36px, -72px);
}
.card:hover .card-price {
    transform: translate(-108px, -74px);
}
.card-size {
    margin-top: 150px;
}
.card-size,
.card-color,
.card-action {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.card:hover .card-size,
.card:hover .card-color,
.card:hover .card-action {
    visibility: visible;
    opacity: 1;
}
.card:hover .card-size {
    margin-top: -30px;
    /* transition: 0.5s; */
}
